/* bookings.module.css */

.container {
  padding: 20px;
  max-width: 1200px;
  margin: auto;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

.subtitle {
  text-align: center;
  color: #555;
  margin-bottom: 30px;
  font-size: 1.1rem;
}

.roomsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 25px;
}

.card {
  background: #fff;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.allImages {
  animation: fadeIn 0.8s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px); 
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.cardContent {
  padding: 20px;
}

.cardContent h2 {
  font-size: 1.3rem;
  margin-bottom: 10px;
  color: #222;
  text-transform: capitalize;
}

.cardContent p {
  font-size: 0.95rem;
  line-height: 1.5;
  color: #555;
  margin-bottom: 10px;
}

.price {
  font-size: 1.1rem;
  font-weight: bold;
  color: #0d9488; /* teal color */
  margin-bottom: 10px;
}

.detailsBtn {
  display: inline-block;
  background: #0b877d;
  color: white;
  padding: 10px 16px;
  border: none;
  border-radius: 8px;
  font-size: 0.95rem;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.detailsBtn:hover {
  background: #399b93;
  opacity: 0.7;

}

